*~
*.egg-info
*.EGG-INFO
*.log
*.pot
*.pyc
*.pyo
build/
dist/
helloworld.db
local_settings.py

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
